MODAL_PROFILE=
MODAL_API_KEY=
APP_NAME=
VOLUME_NAME=
REMOTE_REPO_PATH=
REMOTE_STORAGE_PATH=
MODAL_FULL_GPU=
MODAL_SMOKE_GPU=
MODAL_TIMEOUT_SECONDS=
MODAL_SINGLE_GPU_TIMEOUT_SECONDS=
BASE_GSM8K_TIMEOUT_SECONDS=
WANDB_API_KEY=
HUGGINGFACENAME=
MODAL_SECRET_NAME=
MODAL_TOKEN_SECRET=


